<app-nav></app-nav>
<app-hero-section></app-hero-section>

<div class="about1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row row1">
                <div class="col-md-4 column1">
                    <h1 class="display-4">Morbags</h1>
                    <p class="lead">Find Luggage Storage Near You</p>
                </div>
                <div class="col-md-4 column2">
                    <img src="/assets/images/step1.png" height="250px" width="250px">
                </div>
            </div>
            <div class="row row2">
                <div class="content1">
                    <p>For all things Storage, we at Morbags &trade; offer you convenience at your fingertips.</p>
                    <hr>
                    <p>From a wide selection of secure and certified drop offs to the smile that greets you when you hand over your baggage to the wave at the glass door when you leave after picking your luggage, we have you all covered.</p>
                    <hr>
                    <p>Ease and security, that's the guarantee from the team at Morbags &trade; and you can bank on that..</p>
                </div>

            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>