.about {
    min-height: 80vh;
    .jumbotron {
        background-color: white;
        hr {
            border: 1px solid black;
        }
        .content {
            display: flex;
            .content1 {
                padding-top: 40px;
            }
            .content2 {
                img {
                    width: 250px;
                    height: 250px;            
                }
            }        
        }
    }
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        .content1 {
            padding-top: 0px !important;
        }
    }
}