<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<div class="about">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Morbags <fa name="suitcase"></fa></h1>
            <hr>
            <div class="content">
                <div class="content1">
                    <p>For all things Storage, we at Morbags &trade; offer you convenience at your fingertips.</p>
                    <p>From a wide selection of secure and certified drop offs to the smile that greets you when you hand over your baggage to the wave at the glass door
                        when you leave after picking your luggage, we have you all covered.</p>
                    <p>Ease and security, that's the guarantee from the team at Morbags &trade; and you can bank on that..</p>
                </div>
                <div class="content2">
                    <img src="/assets/images/step1.png">
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>