<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<div class="about">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Morbags</h1>
            <div class="content">
                <div class="content1">
                    <p class="lead">For all things Storage we at Morbags offer you convenience at your fingertips. From a wide selection of secure and certified drop offs to the smile that greats you when you hand over your baggage to the wave at the glass door when
                        you leave after picking your luggage, we have you all covered. Ease at no more than the blink of your eyes, that's the guarantee from the Team at Morbags and you can bank on that..</p>
                </div>
                <div class="content2">
                    <img src="/assets/images/step1.png">
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>