.footer {
    min-height: 450px;
    background-color: #182a50;
    color: white;
    .container {
        padding-top: 50px;
        .row {
            margin-bottom: 50px;
            .col {
                h4 {
                    color: #85d8ba;
                }
                h6 {
                    font-size: 13px;
                }
                form {
                    margin-left: 15px;
                    input[type="email"] {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                    input {
                        border-radius: 0px;
                        font-size: 13px;
                        height: 2rem;
                        width: 80%;
                        border: 0px;
                    }
                    .invalid-feedback {
                        color: white;
                    }
                    button {
                        margin-top: 10px;
                        font-size: 13px;
                        border-radius: 0px;
                        background-color: #820263;
                        border: 0px;
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
                .social-media {
                    margin-top: 20px;
                    fa {
                        cursor: pointer;
                        margin-right: 20px;
                    }
                    fa:hover {
                        color: #85d8ba;
                    }
                }
            }
            a {
                cursor: pointer;
                font-size: 13px;
                color: white;
                text-decoration: none;
            }
            a:hover {
                color: #85d8ba;
            }
        }
    }
    hr {
        border: 1px solid white;
    }
}

@media only screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .mb-4 {
            margin-bottom: 2rem;
        }
    }
    p {
        padding-bottom: 50px;
        margin-bottom: 0px;
    }
    .footer {
        margin-bottom: 0px;
    }
}