<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-left">Subscribe</h4>
                <form [formGroup]="subscribeForm">
                    <div class="form-group row">
                        <div class="trial">
                            <input type="email" class="form-control" formControlName="email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
                            <button class="btn btn-info" type="button" [disabled]="clicked" (click)="subscribe()">
                                <fa name="thumbs-up"></fa>
                                <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="login" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.pattern">Input a valid email</div>
                        </div>
                        <div class="flash">
                            <flash-messages></flash-messages>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 mb-5">
                <h4>Follow Us</h4>
                <div class="social-media">
                    <fa name="facebook" size="lg"></fa>
                    <fa name="twitter" size="lg"></fa>
                    <fa name="instagram" size="lg"></fa>
                    <fa name="linkedin" size="lg"></fa>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Morbags</h4>
                <nav class="nav flex-column">
                    <a routerLink="/about">About us</a>
                    <a routerLink="/contact-us">Contact us</a>
                </nav>
            </div>
        </div>
        <hr>
        <p style="font-size: 13px;">&copy; 2020 Morbags. All Rights Reserved.</p>
    </div>
</div>