<div class="Navbar">
    <div class="Navbar-Link Navbar-Link-toggle">
        <i (click)="clickMenu()" class="fas fa-bars"></i>
    </div>
    <nav class="Navbar-Items Navbar-Items--right">
        <div class="Navbar-Link">
            <a (click)="home()">Home</a>
        </div>
        <div class="Navbar-Link">
            <a (click)="bookings()">My Bookings</a>
        </div>
        <div class="Navbar-Link">
            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user}} <i class="fas fa-user-circle fa-lg"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a *ngIf="status === null" class="dropdown-item" (click)="login()">Login</a>
                    <a *ngIf="status != null" class="dropdown-item" (click)="logout()">Logout</a>
                    <a class="dropdown-item" href="#">Profile</a>
                </div>
            </div>
        </div>
    </nav>
</div>