<div class="Navbar">
    <div class="Navbar-Link Navbar-Link-toggle">
        <i (click)="clickMenu()" class="fas fa-bars"></i>
    </div>
    <nav class="Navbar-Items Navbar-Items--right">
        <div class="Navbar-Link">
            <a (click)="home()">Home</a>
        </div>
        <div class="Navbar-Link">
            <a (click)="bookings()">My Bookings</a>
        </div>
        <div class="Navbar-Link">
            <a *ngIf="status === null" (click)="login()">Login</a>
            <a *ngIf="status != null" (click)="logout()">Logout</a>
        </div>
    </nav>
</div>