.Navbar {
    background-color: #182a50;
    display: flex;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    a {
        color: white;
        font-weight: bold;
        font-size: 13px;
    }
    a:hover {
        text-decoration: none;
        color: #85d8ba;
    }
    .active {
        color: #85d8ba;
    }
}

.Navbar-brand {
    font-size: 25px;
}

.nav-items .Navbar-Link {
    margin-left: 10px;
}

.Navbar-Link {
    img {
        height: 30px;
        margin-left: 100px;
    }
    padding-right: 20px;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Navbar-Items {
    display: flex;
    align-items: center;
}

.Navbar-Items--right {
    margin-left: auto;
    cursor: pointer;
    margin-right: 80px;
}

.Navbar-Link-toggle {
    display: none;
    i {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .Navbar-Link {
        img {
            margin-left: 0px;
        }
    }
    .Navbar {
        min-height: 50px;
    }
    .Navbar-Items,
    .Navbar {
        flex-direction: column;
        width: 100%;
    }
    .Navbar-Items {
        display: none;
        align-items: flex-start;
    }
    .Navbar-Items--right {
        margin-left: 0;
    }
    .Navbar-ToggleShow {
        display: flex;
        background-color: #182a50;
    }
    .Navbar-Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}