<div class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Luggage Storage Near You.</h1>
                <h4 class="lead">Find Luggage Storage in Authorised Shops.</h4>
                <form [formGroup]="signupForm">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors}" aria-describedby="emailHelp" placeholder="Firstname">
                        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                            <div *ngIf="f.firstname.errors.required">Firstname is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors}" aria-describedby="emailHelp" placeholder="Lastname">
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                            <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" aria-describedby="emailHelp" placeholder="Email address">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.pattern">Input a valid email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors}" aria-describedby="emailHelp" placeholder="Phone number">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" placeholder="Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="signup()">Sign up</button>
                </form>
            </div>

        </div>
    </div>
</div>