.container {
    margin-top: 50px;
    .stores {
        h1 {
            margin-bottom: 20px;
        }
        .d-flex {
            margin-bottom: 50px;
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            .all {
                button {
                    border-radius: 0px;
                    font-size: 13px;
                }
            }
            .col-md-3 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .card {
                border-radius: 0px;
                transition: all 0.3s ease;
                agm-map {
                    height: 200px;
                    width: 100%;
                }
                button {
                    border-radius: 0px;
                    font-size: 13px;
                    background-color: #820263;
                    outline: none !important;
                    box-shadow: none !important;
                    border: 0px;
                }
            }
            .card:hover {
                transform: scale(1.05);
            }
        }
    }
    .steps {
        margin-top: 50px;
        margin-bottom: 50px;
        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-weight: bold;
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .col-md-3 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: all 0.3s ease;
                img {
                    width: 200px;
                    height: 150px;
                }
                p {
                    margin-top: 20px;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
        .col-md-3:hover {
            transform: scale(1.1);
        }
    }
    .pricing {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 50px;
        h3 {
            font-weight: bold;
            margin-bottom: 20px;
        }       
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
    }
    .steps {
        p {
            width: 80%;
        }
    }
    .pricing {
        width: 90% !important;       
    }
}