<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<div class="bookings">
    <div class="container">
        <h1>My Bookings :</h1>
        <div *ngIf="isLoading === true" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <flash-messages></flash-messages>
        <div *ngFor="let booking of bookings" class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/food.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><span>Name : </span>{{booking?.shop?.name}}</p>
                        <p class="card-text"><span>County : </span>{{booking?.shop?.county}}</p>
                        <p class="card-text"><span>Location : </span>{{booking?.shop?.location}}</p>
                        <p class="card-text"><span>Email : </span>{{booking?.shop?.email}}</p>
                        <p class="card-text"><span>Phone : </span>{{booking?.shop?.phone}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><span>Capacity : </span>{{booking?.shop?.capacity}}</p>
                        <p class="card-text"><span>Status : </span>{{booking?.status}}</p>
                        <p class="card-text"><span>Time Booked : </span>{{booking?.createdAt | date : 'EEE, MMM d, h:mm:ss'}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="home()" class="btn btn-info"><i class="fas fa-home"></i> Home</button>

    </div>
</div>
<app-footer></app-footer>