<app-nav></app-nav>
<div class="bookings">
    <div class="container">
        <h1>Bookings :</h1>
        <div class="alert alert-info" role="alert">
            <ul>
                <h3>Note:</h3>
                <li>You have to check in at the shop you have booked before the end of the day you have booked.</li>
                <li>You have to adhere to the working hours of the shop.</li>
                <li>If you fail to do so, your booking will be automatically cancelled.</li>
                <li>The status of your booking will be "Pending" until you check in at the shop.</li>
                <li>Once you check in, the status changes to "Active" and when you pay and check out, it will change to "Completed".</li>
            </ul>
        </div>
        <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Pending">
                <app-pending-bookings [pending]="pending.asObservable()"></app-pending-bookings>
            </mat-tab>
            <mat-tab label="Active">
                <app-active-bookings [active]="active.asObservable()"></app-active-bookings>
            </mat-tab>
            <mat-tab label="Completed">
                <app-completed-bookings [completed]="completed.asObservable()"></app-completed-bookings>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-footer></app-footer>