.bookings {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 80vh;
    h1 {
        margin-bottom: 20px;
    }
    .alert {
        border-radius: 0px;
        font-size: 13px;
        li {
            margin-left: 20px;
        }
    }
}