.bookings {
    margin-top: 50px;
    margin-bottom: 50px;
    h1 {
        margin-bottom: 20px;
    }
    .card {
        agm-map {
            height: 300px;
        }
        .card-text {
            font-size: 14px;
            span {
                font-weight: bold;
            }
        }
    }
}