<app-hero-section></app-hero-section>
<div class="details">
    <div class="container">
        <div class="card mb-3">
            <img src="/assets/images/food.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button routerLink="/details" class="btn btn-primary">Book</button>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>