<div class="container-fluid">
    <div class="hero-section">
        <h1 class="display-4">Luggage Storage Near You.</h1>
        <p class="lead">Find Luggage Storage in Authorised Shops.</p>
        <form [formGroup]="searchForm">
            <div class="form-group row">
                <input type="text" class="form-control" (click)="search()" formControlName="search" placeholder="Enter a Town or City in Kenya" [ngClass]="{ 'is-invalid': submitted && f.search.errors}">
                <button class="btn btn-info" type="button" (click)="search()"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div class="locate">
            <button class="btn btn-info" type="button">My Location <i class="fas fa-compass"></i></button>
        </div>
    </div>
</div>