.container-fluid {
    background-color: #182a50;
    min-height: 300px;
    .hero-section {
        padding-top: 50px;
        text-align: center;
        .display-4 {
            color: #85d8ba;
        }
        .lead {
            color: white;
        }
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            input[type="text"] {
                outline: none !important;
                box-shadow: none !important;
            }
            input {
                border-radius: 0px;
                font-size: 13px;
                width: 30em;
                height: 2rem;
                border: 0px;
            }
            button {
                border-radius: 0px;
                height: 2rem;
                background-color: #820263;
                border: 0px;
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .locate {
            button {
                border-radius: 0px;
                font-size: 13px;
                background-color: #182a50;
                border: 1px solid #85d8ba;
            }
            button:focus,
            button:active {
                outline: none !important;
                box-shadow: none;
            }
            button:hover {
                color: #85d8ba;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        min-height: 250px;
        .hero-section {
            padding-top: 10px;
        }
    }
    input[type="text"] {
        width: 60vw !important;
        font-size: 10px !important;
    }
    .display-4 {
        margin-top: 30px;
        font-size: 6vw;
    }
    .lead {
        font-size: 3.5vw;
    }
    .btn-success {
        margin-right: 20px !important;
    }
}