.login {
    background-color: #182a50;
    min-height: 91vh;
    .container {
        padding-top: 60px;
        .google {
            margin-top: 30px;
            button {
                border-radius: 0px;
                border: 0px;
                background-color: #820263;
                font-weight: bold;
                font-size: 13px;
                outline: none !important;
                box-shadow: none !important;
            }
            p {
                color: white;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 0px;
                font-size: 13px;
                font-weight: bold;
            }
        }
        form {
            margin-bottom: 80px;
            .flash {
                font-size: 13px;
            }
            label {
                color: white;
                font-size: 13px;
            }
            input {
                border-radius: 0px;
                font-size: 13px;
                border: 0px;
            }
            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                background-color: #e7e4f0;
            }
            input[type="text"],
            input[type="email"],
            input[type="password"] {
                outline: none !important;
                box-shadow: none !important;
            }
            .input-group-text {
                padding: 0.23rem 0.5rem 0.23rem 0.5rem;
                fa {
                    cursor: pointer;
                }
            }
            button {
                border-radius: 0px;
                height: 2rem;
                background-color: #820263;
                border: 0px;
                outline: none !important;
                box-shadow: none !important;
                font-size: 13px;
                font-weight: bold;
                span {
                    margin-left: 10px;
                }
            }
            .invalid-feedback {
                font-size: 11px;
                font-weight: bold;
            }
            .signup {
                color: white;
                font-size: 13px;
                margin-top: 20px;
                span {
                    color: lightblue;
                }
                span:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .forgot {
                margin-top: 10px;
                color: white;
                font-size: 11px;
                span {
                    color: lightblue;
                }
                span:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding-top: 40px !important;
        h1 {
            margin-top: 30px;
            font-size: 5.5vw;
        }
        h4 {
            font-size: 3.5vw;
        }
        .flash {
            max-width: 22em !important;
        }
    }
}