<app-navbar></app-navbar>
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row google">
                    <div class="col-md-4">
                        <button type="submit" (click)="google()" [disabled]="isLoading" class="btn btn-primary btn-block">LOGIN WITH GOOGLE 
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="login" aria-hidden="true"></span>
                        </button>
                        <p>or</p>
                    </div>
                </div>


                <form [formGroup]="loginForm">
                    <div class="form-row">
                        <div class="flash form-group col-md-4">
                            <flash-messages></flash-messages>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" autofocus>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Input a valid email in lowercase</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password should be at least 6 characters</div>
                            </div>
                            <p class="forgot" routerLink="/forgot-password"><span>Forgot Password?</span></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <button type="submit" (click)="login()" [disabled]="isLoading" class="btn btn-primary btn-block">LOGIN <fa name="sign-in"></fa>
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="login" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <p class="signup">Don't have an account? <span routerLink="/signup">Sign Up</span></p>
                </form>
            </div>
        </div>
    </div>
</div>