.profile {
    min-height: 80vh;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        justify-content: center;
        .card {
            .card-title {
                font-family: 'Montserrat', sans-serif;
            }
            .col-md-4 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .avatar {
                    padding: 30px;
                }
            }
            a {
                font-size: 13px;
                color: #0073bd;
                cursor: pointer;
            }
            a:hover {
                color: black;
                text-decoration: underline;
            }
            .spinner-border {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .d-flex {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 80px;
            }
            hr {
                border: 1px solid black;
            }
            .card-text {
                a {
                    font-size: 13px;
                }
            }
            button {
                margin-top: 10px;
                font-size: 13px;
                border-radius: 0px;
                outline: none !important;
                box-shadow: none !important;
            }
            form {
                margin-top: 20px;
                label {
                    font-size: 13px;
                }
                input {
                    border-radius: 0px;
                    font-size: 13px;
                }
                input[type="text"],
                input[type="password"] {
                    outline: none !important;
                    box-shadow: none !important;
                }
                .input-group-text {
                    padding: 0.23rem 0.5rem 0.23rem 0.5rem;
                    fa {
                        cursor: pointer;
                    }
                }
                .invalid-feedback {
                    font-size: 11px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .col-md-8 {
        display: flex;
        align-items: center;
        justify-content: center;
        .card {
            margin: 50px 0px 50px 0px;
            width: 18rem;
            text-align: center;
            .col-md-4 {
                .avatar {
                    padding: 30px;
                }
            }
        }
    }
}