<app-navbar></app-navbar>
<div class="profile">
    <div class="container">
        <div class="col-md-8">
            <div class="card mb-3" style="min-height: 200px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="avatar">
                            <fa name="user-circle" size="4x"></fa>
                        </div>
                        <button type="button" (click)="logout()" class="btn btn-secondary">Logout <fa name="sign-out"></fa></button>
                    </div>
                    <div class="col-md-8">
                        <div *ngIf="isLoading" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div *ngIf="!isLoading" class="card-body">
                            <h3 class="card-title">{{user?.firstname | titlecase}} {{user?.lastname | titlecase}}</h3>
                            <hr>
                            <p class="card-text">
                                <fa name="envelope"></fa> {{user?.email}}</p>
                            <p class="card-text">
                                <fa name="mobile" size="lg"></fa> {{user?.phone}} </p>
                            <p class="card-text">
                                <fa name="lock"></fa> <a *ngIf="!show" (click)="toggle()"> Change Password</a> <a *ngIf="show" (click)="toggle()"> Hide Password Change</a>
                            </p>
                            <div *ngIf="show" class="change-password">
                                <form [formGroup]="passwordForm">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="Current Password">Current Password</label>
                                            <div class="input-group">
                                                <input [type]="oldFieldTextType? 'text' : 'password'" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" autofocus>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <fa *ngIf="oldFieldTextType" name="eye" (click)="toggleOldFieldTextType()"></fa>
                                                        <fa *ngIf="!oldFieldTextType" name="eye-slash" (click)="toggleOldFieldTextType()"></fa>
                                                    </span>
                                                </div>
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <div *ngIf="f.password.errors.required">Current password is required</div>
                                                    <div *ngIf="f.password.errors.minlength">Must be a minimum of 6 characters</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="New Password">New Password</label>
                                            <div class="input-group">
                                                <input [type]="newFieldTextType? 'text' : 'password'" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                            <fa *ngIf="newFieldTextType" name="eye" (click)="toggleNewFieldTextType()"></fa>
                                                            <fa *ngIf="!newFieldTextType" name="eye-slash" (click)="toggleNewFieldTextType()"></fa>
                                                        </span>
                                                </div>
                                                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                    <div *ngIf="f.newPassword.errors.required">New password is required</div>
                                                    <div *ngIf="f.newPassword.errors.minlength">Must be a minimum of 6 characters</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flash">
                                        <flash-messages></flash-messages>
                                    </div>
                                    <button type="button" (click)="changePassword()" class="btn btn-info">Change Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>